# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TP-Ex1POO.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\kerys\OneDrive\Documents\B1 EPSI\Csharp\TP-Ex1POO\.idea\.idea.TP-Ex1POO.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
